@media print {
  /* Hide all content except printArea */
  body * {
    visibility: hidden !important;
  }

  .printArea, .printArea * {
    visibility: visible !important;
  }

  .printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  }

  

  /* Optional: sembunyikan tombol dsb */
  .noPrint, button, .MuiButtonBase-root {
    display: none !important;
  }
}

@page {
  size: A4 portrait;
  margin: 10mm;
}
