@media print {
  .printArea,
  .printArea * {
    display: block !important;
  }

  .printArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    background: white !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
