@media print {
  .printArea,
  .printArea * {
    display: block !important;
  }

  .printArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    background: white !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
  }

   td {
    white-space: nowrap;
    overflow: visible;
  }

    .onlyPrint {
    display: inline !important;
  }

}

